/****** Script para el comando SelectTopNRows de SSMS  ******/
SELECT SUM(COMISION)
  FROM dbo.PagoPospagoPermanenciaDEXMasivo_BK20190621_1429
  WHERE PERIODO = '201812'
   AND DISTRIBUIDOR LIKE '%ADATEL%'
   AND TRANSACCION = 'PERMANENCIA'

SELECT TRANSACCION, PERIODO, SUM(X.DIFERENCIA)
FROM (

--DROP TABLE FactPospagoReintegrosPermanenciaMasivo  
  
SELECT '201907' PERIODO_PAGO
	, A.PERIODO
	, A.CANAL
	, A.DISTRIBUIDOR
	, A.ACREEDOR_ID
	, 45 TIPOTRANS_ID
	, A.CUSTOMER_ID
	, A.DN_NUM
	, A.CO_ID
	, A.TRANSACCION
	, A.UNIDAD_GLOBAL
	, A.UNIDAD_APLICA_PERMA
	, A.TOTAL_REVENUE
	, A.META
	, A.ALCANCE_META_VENTA
	, A.EFECTIVIDAD_VENTAS
	, B.FACT_PAGADAS FACT_PAGAGAS_INI
	, A.FACT_PAGADAS FACT_PAGADAS_RECALCULO
	, B.APLICA_PERMA APLICA_PERMA_INI
	, A.APLICA_PERMA APLICA_PERMA_RECALCULO
	, B.FACTOR_PERMA FACTOR_PERMA_INI
	, A.FACTOR_PERMA FACTOR_PERMA_RECALCULO
	, B.COMISION_SIN_IVA COMISION_PAGADA
	, A.COMISION_SIN_IVA RECALCULO
	, A.COMISION_SIN_IVA - B.COMISION_SIN_IVA DIFERENCIA INTO FactPospagoReintegrosPermanenciaMasivo
  FROM dbo.PagoPospagoPermanenciaDEXMasivo A 
	inner join dbo.PagoPospagoPermanenciaDEXMasivo_BK20190621_1429 b on b.CO_ID = a.CO_ID and b.FECHA_ID = a.FECHA_ID and b.TRANSACCION = a.TRANSACCION
  WHERE a.PERIODO IN ('201812','201902')
   AND a.DISTRIBUIDOR LIKE '%ADATEL%'
   AND a.TRANSACCION IN ('PERMANENCIA','PERMANENCIA F1')
   AND (A.COMISION_SIN_IVA - B.COMISION_SIN_IVA ) <> 0
   
) X
GROUP BY X.TRANSACCION, X.PERIODO
COMPUTE SUM(SUM(X.DIFERENCIA))


SELECT TOP 10 * FROM dbo.PagoPospagoPermanenciaDEXMasivo a 
 
INSERT INTO DimTipoTransaccion
SELECT 45 TIPOTRANS_ID, 'Reintegro Por Permanencia', 2 CATEGORIA_TRANS_ID, PRODUCTO, CENTRO_COSTO_SAP, CUENTA_SAP, NEGOCIO_ID 


SELECT * FROM DimTipoTransaccion WHERE  NEGOCIO_ID = 1




SELECT PERIODO_PAGO
	,CONVERT(VARCHAR(6),DATEADD(MONTH,0,CONVERT(DATETIME,PERIODO_PAGO+'01')),112) PERIODO_FILE
	,CASE 
		WHEN MONTH(DATEADD(MONTH,0,CONVERT(DATETIME,PERIODO_PAGO+'01'))) = 1 then 'Enero' + ' - ' + substring(PERIODO_PAGO,1,4)
		WHEN MONTH(DATEADD(MONTH,0,CONVERT(DATETIME,PERIODO_PAGO+'01'))) = 2 then 'Febrero' + ' - ' + substring(PERIODO_PAGO,1,4)
		WHEN MONTH(DATEADD(MONTH,0,CONVERT(DATETIME,PERIODO_PAGO+'01'))) = 3 then 'Marzo' + ' - ' + substring(PERIODO_PAGO,1,4)
		WHEN MONTH(DATEADD(MONTH,0,CONVERT(DATETIME,PERIODO_PAGO+'01'))) = 4 then 'Abril' + ' - ' + substring(PERIODO_PAGO,1,4)
		WHEN MONTH(DATEADD(MONTH,0,CONVERT(DATETIME,PERIODO_PAGO+'01'))) = 5 then 'Mayo' + ' - ' + substring(PERIODO_PAGO,1,4)
		WHEN MONTH(DATEADD(MONTH,0,CONVERT(DATETIME,PERIODO_PAGO+'01'))) = 6 then 'Junio' + ' - ' + substring(PERIODO_PAGO,1,4)
		WHEN MONTH(DATEADD(MONTH,0,CONVERT(DATETIME,PERIODO_PAGO+'01'))) = 7 then 'Julio' + ' - ' + substring(PERIODO_PAGO,1,4)
		WHEN MONTH(DATEADD(MONTH,0,CONVERT(DATETIME,PERIODO_PAGO+'01'))) = 8 then 'Agosto' + ' - ' + substring(PERIODO_PAGO,1,4)
		WHEN MONTH(DATEADD(MONTH,0,CONVERT(DATETIME,PERIODO_PAGO+'01'))) = 9 then 'Septiembre' + ' - ' + substring(PERIODO_PAGO,1,4)
		WHEN MONTH(DATEADD(MONTH,0,CONVERT(DATETIME,PERIODO_PAGO+'01'))) = 10 then 'Octubre' + ' - ' + substring(PERIODO_PAGO,1,4)
		WHEN MONTH(DATEADD(MONTH,0,CONVERT(DATETIME,PERIODO_PAGO+'01'))) = 11 then 'Noviembre' + ' - ' + substring(PERIODO_PAGO,1,4)
		WHEN MONTH(DATEADD(MONTH,0,CONVERT(DATETIME,PERIODO_PAGO+'01'))) = 12 then 'Diciembre' + ' - ' + substring(PERIODO_PAGO,1,4)
	END PERIODO_LABEL	 
	,PERIODO
	,DISTRIBUIDOR
	,A.ACREEDOR_ID
	,CANAL
	,A.TIPOTRANS_ID
	,B.TIPOTRANS_DESC TRANSACCION
	,SUM(UNIDAD_GLOBAL) UNIDAD_TOTALES
	,CASE		
		WHEN B.TIPOTRANS_DESC LIKE '%Permanencia%' THEN SUM(UNIDAD_APLICA_PERMA)
		ELSE SUM(UNIDAD_GLOBAL)
	 END  UNIDADES_APLICAN
	,ISNULL(A.TOTAL_REVENUE,0) TOTAL_REVENUE_VENTA
	,ISNULL(A.META,0) META_VENTA
	,ISNULL(A.ALCANCE_META_VENTA,0) ALCANCE_META_VENTA
	,ISNULL(A.EFECTIVIDAD_VENTAS,0) EFECTIVIDAD_VENTAS
	,SUM(ISNULL(A.DIFERENCIA,0)) COMISION
	,B.CUENTA_SAP
	,B.CENTRO_COSTO_SAP
	,B.NEGOCIO_ID
	,C.NEGOCIO_NOMBRE
	,C.NEGOCIO_CODE
	,C.NEGOCIO_ACTIVIDAD
	,C.NEGOCIO_SOCIEDAD
FROM FactPospagoReintegrosPermanenciaMasivo A
	INNER JOIN DM_COMISV_POSPAGO.dbo.DimTipoTransaccion B ON B.TIPOTRANS_ID = A.TIPOTRANS_ID
	INNER JOIN DM_COMISV_POSPAGO.dbo.DimNegocio C on C.NEGOCIO_ID = B.NEGOCIO_ID
WHERE a.PERIODO_PAGO = '201907'
 --AND A.DISTRIBUIDOR = 'TDM'
 AND NOT EXISTS (SELECT * FROM DM_COMISV_POSPAGO.dbo.PlanillasPospagoResumenMasivo 
		  WHERE PERIODO_PAGO = A.PERIODO_PAGO 
			AND ACREEDOR_ID = A.ACREEDOR_ID 
			AND CCF_NUMERO is not null
			AND LTRIM(RTRIM(CCF_NUMERO)) != '' 
		   )
GROUP BY A.PERIODO_PAGO,  A.PERIODO, A.DISTRIBUIDOR, A.ACREEDOR_ID, A.CANAL, A.TIPOTRANS_ID, B.TIPOTRANS_DESC, A.TOTAL_REVENUE, A.META, A.ALCANCE_META_VENTA, A.EFECTIVIDAD_VENTAS
	,B.CUENTA_SAP, B.CENTRO_COSTO_SAP,B.NEGOCIO_ID, C.NEGOCIO_NOMBRE,C.NEGOCIO_CODE	,C.NEGOCIO_ACTIVIDAD ,C.NEGOCIO_SOCIEDAD
	
	
	select * FROM FactPospagoReintegrosPermanenciaMasivo A
