/****** Script para el comando SelectTopNRows de SSMS  ******/
SELECT convert(varchar(6),fecha_activacion, 112) periodo, count(*) cant
  FROM [STG_DMSVPOS_COMI].[dbo].[TXN_PAGO_VENTAS_POSPAGO]
  group by convert(varchar(6),fecha_activacion, 112)
  order by 1
  
  select * 
  from PagoPospagoVentasDEXMasivo a
  where periodo = '201807'
   and NOT EXISTS (
      SELECT *
    FROM [STG_DMSVPOS_COMI].[dbo].[TXN_PAGO_VENTAS_POSPAGO] X
    WHERE convert(varchar(6),X.FECHA_ACTIVACION, 112)  = '201807'
     AND X.AGRUPACION = 'DISTRIBUIDORES'
     AND X.CO_ID = A.CO_ID     
   )
   
   
    
  select * 
  from [STG_DMSVPOS_COMI].[dbo].[TXN_PAGO_VENTAS_POSPAGO] X
  where convert(varchar(6),X.FECHA_ACTIVACION, 112)  = '201807'
   AND X.AGRUPACION = 'DISTRIBUIDORES'   
   and NOT EXISTS (
      SELECT *
    FROM PagoPospagoVentasDEXMasivo  A
    WHERE periodo = '201807'     
     AND X.CO_ID = A.CO_ID     
   )
   
   
 INSERT INTO [STG_DMSVPOS_COMI].[dbo].[TXN_PAGO_VENTAS_POSPAGO]
 SELECT A.DEALER_CODE DEALER
	,A.DEALER_NAME SITIO
	,A.DN_NUM TELEFONO
	,A.NOMBRE_COMPLETO NOMBRE
	,A.MODELO
	,A.NOMBRE_PLAN
	,NULL SERVICIO
	,A.NOMBRE_PAQUETE
	,A.RENTA_COMISION RENTA_MENSUAL
	,A.CARGOS_AVI GROUP_CALLING
	,A.CO_SIGNED FECHA_CONTRATO
	,A.CH_VALIDFROM FECHA_ACTIVACION
	,A.USERLASTMOD USUARIO
	,A.RAZON_ALTA MOTIVO_ALTA
	,A.BILLCYCLE CICLO_FACT
	,A.DISTRIBUIDOR
	,A.CANAL AGRUPACION
	,A.RENTA_COMISION CARGO_MES
	,A.NOMBRE_PLAN + ' ' + CONVERT(VARCHAR,A.RENTA_COMISION) PLAN_MAS_CARGO
	,ROW_NUMBER() OVER (PARTITION BY A.PERIODO, A.DISTRIBUIDOR ORDER BY A.PERIODO, A.DISTRIBUIDOR, A.CH_VALIDFROM) NUM_VENTA
	,A.FACTOR_VENTA FACTOR
	,A.FACT_PAGADAS FACT_PAGADAS_PYL
	,A.APLICA_PAGO APLICA_PAGO_PYL
	,A.COMISION
	,A.COMISION_SIN_IVA
	,A.CO_ID
	,A.CUSTOMER_ID
	,A.TMCODE
	,A.PLAZO_NUM PLAZO_MESES
	,A.MODALIDAD
	,A.TIPO_CONTRATO
	,NULL COMENTARIOS
from PagoPospagoVentasDEXMasivo a
  where periodo = '201807'
   and NOT EXISTS (
      SELECT *
    FROM [STG_DMSVPOS_COMI].[dbo].[TXN_PAGO_VENTAS_POSPAGO] X
    WHERE convert(varchar(6),X.FECHA_ACTIVACION, 112)  = '201807'
     AND X.AGRUPACION = 'DISTRIBUIDORES'
     AND X.CO_ID = A.CO_ID     
   )
 ORDER BY A.DISTRIBUIDOR, A.CH_VALIDFROM