use DM_COMISV_POSPAGO

DECLARE @periodo_pago varchar(6)
DECLARE @periodo_corte varchar(6)

set @periodo_corte = '201810'
set @periodo_pago = convert(varchar(6),dateadd(m,1,convert(datetime,@periodo_corte+'01')),112)	

DELETE DM_COMISV_POSPAGO.dbo.PagoPospagoConsolidadoDEXMasivo WHERE PERIODO_PAGO = @periodo_pago

--SELECT TOP 10 * FROM PagoPospagoConsolidadoDEXMasivo
 
INSERT INTO DM_COMISV_POSPAGO.dbo.PagoPospagoConsolidadoDEXMasivo 
--VENTAS
SELECT
	@periodo_pago PERIODO_PAGO
	,A.PERIODO
	,A.FECHA_ID
	,A.DEALER_CODE
	,A.DEALER_NAME
	,A.DISTRIBUIDOR
	,B.ACREEDOR_ID	
	,A.CANAL
	,A.CUSTOMER_ID
	,A.DN_NUM	
	,A.CO_ID
	,A.NOMBRE_CLIENTE
	,A.APELLIDO_CLIENTE
	,A.NOMBRE_COMPLETO
	,A.NOMBRE_PLAN
	,CASE 
		WHEN A.NOMBRE_PLAN LIKE '%PAGO%Y%LISTO%' THEN 'PAGO Y LISTO'
		WHEN A.NOMBRE_PLAN LIKE '%INTERNET%' THEN 'INTERNET MOVIL'
		WHEN A.NOMBRE_PLAN LIKE '%3G%' THEN 'INTERNET MOVIL'
		ELSE 'MOVIL'
	 END TIPO_PLAN
	,A.TIPO_CONTRATO
	,A.RENTA_COMISION RENTA_MENSUAL
	,'VENTA' TRANSACCION
	,SUM(A.RENTA_COMISION) OVER (PARTITION BY A.PERIODO, A.DISTRIBUIDOR ) TOTAL_REVENUE
	,ISNULL(( SELECT SUM(REVENUE)
		   FROM DMSVRHI_COMISIONES.dbo.DimMetasDistriPosRevenue
		   WHERE PERIODO COLLATE Modern_Spanish_CI_AS = A.PERIODO
			AND DISTRIBUIDOR COLLATE Modern_Spanish_CI_AS = A.DISTRIBUIDOR
		  ),0) META	 	
	,ISNULL((SUM(A.RENTA_COMISION) OVER (PARTITION BY A.PERIODO, A.DISTRIBUIDOR )) / ( SELECT SUM(REVENUE)
		   FROM DMSVRHI_COMISIONES.dbo.DimMetasDistriPosRevenue
		   WHERE PERIODO COLLATE Modern_Spanish_CI_AS = A.PERIODO
			AND DISTRIBUIDOR COLLATE Modern_Spanish_CI_AS = A.DISTRIBUIDOR
		  ),0)	ALCANCE_META_VENTA
	,1 UNIDAD_GLOBAL
	,0 UNIDAD_APLICA_PERMA
	,'NO' APLICA_PERMA
	,A.FACT_PAGADAS	
	,0 TOTAL_APLICAN_PERMA
	,COUNT(*) OVER (PARTITION BY A.PERIODO, A.DISTRIBUIDOR) TOTAL_UNIDADES
	,0 EFECTIVIDAD_VENTAS
	,A.FACTOR_VENTA FACTOR
	,A.COMISION
	,A.COMISION_SIN_IVA
	,GETDATE() FECHA_PROCESO
	,A.TIPO_TRANS_COMI_ID TIPOTRANS_ID --INTO PagoPospagoConsolidadoDEXMasivo
  FROM [DM_COMISV_POSPAGO].[dbo].[PagoPospagoVentasDEXMasivo] A
		INNER JOIN [DM_COMISV_POSPAGO].[dbo].DimDealer B ON B.DEALER_CODE = A.DEALER_CODE 		
  WHERE A.PERIODO_PAGO = @periodo_pago
	AND A.FECHA_ID BETWEEN CONVERT(VARCHAR(8),B.FECHA_INI,112) AND ISNULL(CONVERT(VARCHAR(8),FECHA_FIN,112),CONVERT(VARCHAR(8),GETDATE(),112))
UNION ALL
--PERMANENCIA
SELECT A.PERIODO_PAGO
		,A.PERIODO
		,A.FECHA_ID
		,A.DEALER_CODE
		,A.DEALER_NAME
		,A.DISTRIBUIDOR
		,A.ACREEDOR_ID
		,A.CANAL
		,A.CUSTOMER_ID
		,A.DN_NUM
		,A.CO_ID
		,B.NOMBRE_CLIENTE
		,B.APELLIDO_CLIENTE
		,B.NOMBRE_COMPLETO
		,A.NOMBRE_PLAN
		,A.TIPO_PLAN
		,A.TIPO_CONTRATO
		,A.RENTA_MENSUAL
		,A.TRANSACCION
		,A.TOTAL_REVENUE
		,A.META
		,A.ALCANCE_META_VENTA
		,A.UNIDAD_GLOBAL
		,A.UNIDAD_APLICA_PERMA
		,A.APLICA_PERMA
		,A.FACT_PAGADAS
		,A.TOTAL_APLICAN_PERMA
		,A.TOTAL_VENTAS TOTAL_UNIDADES
		,A.EFECTIVIDAD_VENTAS
		,A.FACTOR_PERMA FACTOR
		,A.COMISION
		,A.COMISION_SIN_IVA
		,A.FECHA_PROCESO
		,CASE
			WHEN TIPO_PLAN = 'PAGO Y LISTO' THEN 4
			ELSE 3
		 END TIPOTRANS_ID
  FROM [DM_COMISV_POSPAGO].[dbo].[PagoPospagoPermanenciaDEXMasivo] A
	INNER JOIN [DM_COMISV_POSPAGO].[dbo].[FactPospagoVentas] b on b.co_id = a.co_id and b.fecha_id = A.FECHA_ID	
  WHERE PERIODO_PAGO = @periodo_pago 
  UNION ALL
  --RENOVACIONES
  SELECT DISTINCT A.[PERIODO_PAGO]
      ,A.[PERIODO]
      ,A.[FECHA_ID]
      ,A.[DEALER_CODE]
      ,A.[DEALER_NAME]
      ,A.[DISTRIBUIDOR]
      ,B.[ACREEDOR_ID]
      ,A.[CANAL]
      ,A.[CUSTOMER_ID]
      ,A.[DN_NUM]
      ,A.[CO_ID]
      ,A.[NOMBRE_CLIENTE]
      ,A.[APELLIDO_CLIENTE]
      ,A.[NOMBRE_COMPLETO]
      ,A.[NOMBRE_PLAN]
      ,A.[TIPO_PLAN]
      ,A.[TIPO_CONTRATO]
      ,A.[RENTA_MENSUAL]
      ,A.[TRANSACCION]
      ,A.[TOTAL_REVENUE]
      ,A.[META]
      ,A.[ALCANCE_META_VENTA]
      ,A.[UNIDAD_GLOBAL]
      ,A.[UNIDAD_APLICA_PERMA]
      ,A.[APLICA_PERMA]
      ,A.[FACT_PAGADAS]
      ,A.[TOTAL_APLICAN_PERMA]
      ,A.[TOTAL_UNIDADES]
      ,A.[EFECTIVIDAD_VENTAS]
      ,A.[FACTOR]
      ,A.[COMISION]
      ,A.[COMISION_SIN_IVA]
      ,A.[FECHA_PROCESO]
      ,A.[TIPOTRANS_ID]
  FROM [STG_DMSVPOS_COMI].[dbo].[TXN_POSPAGO_RENOVACIONES_MASIVO] A
	INNER JOIN DM_COMISV_POSPAGO.dbo.DimDealer B ON B.DEALER_CODE = A.DEALER_CODE
  WHERE A.PERIODO_PAGO = @periodo_pago
   AND A.FECHA_ID BETWEEN CONVERT(VARCHAR(8),B.FECHA_INI,112) AND CONVERT(VARCHAR(8),ISNULL(B.FECHA_FIN,GETDATE()),112)
