/****** Script para el comando SelectTopNRows de SSMS  ******/
SELECT CONVERT(VARCHAR(6),FECHA_aCTIVACION,112) PERIODO, COUNT(*) CANT
  FROM [STG_DMSVPOS_COMI].[dbo].[TXN_PAGO_VENTAS_POSPAGO]
  GROUP BY CONVERT(VARCHAR(6),FECHA_aCTIVACION,112)
  ORDER BY 1
  
INSERT INTO [STG_DMSVPOS_COMI].[dbo].[TXN_PAGO_VENTAS_POSPAGO] 
SELECT a.DEALER_CODE DEALER, A.DEALER_NAME SITIO, A.DN_NUM TELEFONO, A.NOMBRE_COMPLETO NOMBRE, A.MODELO, A.NOMBRE_PLAN, NULL SERVICIO, A.NOMBRE_PAQUETE PAQUETE, A.RENTA_COMISION RENTA_MENSUAL, A.CARGOS_AVI GROUP_CALLING, A.CO_SIGNED FECHA_CONTRATO, A.CH_VALIDFROM FECHA_ACTIVACION, A.USERLASTMOD USUARIO, A.RAZON_ALTA MOTIVO_ALTA, A.BILLCYCLE CICLO_FACT, A.DISTRIBUIDOR, A.CANAL AGRUPACION, A.RENTA_COMISION CARGO_MES, A.NOMBRE_PLAN+CONVERT(VARCHAR,A.RENTA_COMISION) PLAN_MAS_CARGO, A.NUM_VENTA, A.FACTOR_VENTA FACTOR,A.FACT_PAGADAS, A.APLICA_PAGO, A.COMISION, A.COMISION_SIN_IVA, A.CO_ID, A.CUSTOMER_ID, A.TMCODE, A.PLAZO_NUM, A.MODALIDAD, A.TIPO_CONTRATO, NULL COMENTARIOS FROM PagoPospagoVentasDEXMasivo a WHERE PERIODO_PAGO = '201809' AND TIPO = 'PAGO Y LISTO'

select top 5 * FROM [STG_DMSVPOS_COMI].[dbo].[TXN_PAGO_VENTAS_POSPAGO] where CONVERT(VARCHAR(6),FECHA_aCTIVACION,112) = '201806' and NOMBRE_PLAN like '%PAGO%LISTO%'



