DECLARE @periodo_pago varchar(6)
DECLARE @periodo_corte varchar(6)

set @periodo_corte = '201809'
set @periodo_pago = convert(varchar(6),dateadd(m,1,convert(datetime,@periodo_corte+'01')),112)	

DELETE FROM DM_COMISV_POSPAGO.dbo.PagoPospagoConsolidadoDEXCorpo where PERIODO_PAGO = @periodo_pago

INSERT INTO DM_COMISV_POSPAGO.dbo.PagoPospagoConsolidadoDEXCorpo
--VENTAS DISTRIBUIDORES CORPORATIVOS
SELECT A.PERIODO_PAGO
	,A.PERIODO
	,A.FECHA_ID
	,A.DEALER_CODE
	,A.DEALER_NAME
	,A.DISTRIBUIDOR	
	,A.CANAL
	,A.SUB_CANAL
	,B.ACREEDOR_ID	
	,A.CUSTOMER_ID
	,A.DN_NUM
	,A.CO_ID
	,A.NOMBRE_CLIENTE
	,A.APELLIDO_CLIENTE
	,A.NOMBRE_COMPLETO
	,A.NOMBRE_PLAN
	,A.CLASI_PLAN TIPO_PLAN
	,A.TIPO_CONTRATO
	,A.RENTA_COMISION RENTA_MENSUAL
	,A.CARGOS_AVI
	,(SUM(A.RENTA_COMISION + A.CARGOS_AVI) OVER (PARTITION BY A.PERIODO_PAGO, A.PERIODO, A.DISTRIBUIDOR))/1.13 TOTAL_REVENUE_VENTA
	,CASE
		WHEN A.PERIODO < '201803'  THEN (
			select MOVIL 
			from DM_COMISV_POSPAGO.dbo.DimMetasDEXCorpo
			where periodo = A.periodo
				and distribuidor = A.distribuidor
		)
		WHEN A.PERIODO >= '201803' THEN (
			select FACT_MOVIL_NUEVO
			from DM_COMISV_POSPAGO.dbo.DimMetasDEXCorpoRevenue
			where periodo = a.periodo
				and distribuidor = A.distribuidor
		)
		ELSE 0
	 END META
	,( (SUM(A.RENTA_COMISION + A.CARGOS_AVI) OVER (PARTITION BY A.PERIODO_PAGO, A.PERIODO, A.DISTRIBUIDOR))/1.13 ) / 
	 CASE
		WHEN A.PERIODO < '201803'  THEN (
			select MOVIL 
			from DM_COMISV_POSPAGO.dbo.DimMetasDEXCorpo
			where periodo = A.periodo
				and distribuidor = A.distribuidor
		)
		WHEN A.PERIODO >= '201803' THEN (
			select FACT_MOVIL_NUEVO
			from DM_COMISV_POSPAGO.dbo.DimMetasDEXCorpoRevenue
			where periodo = a.periodo
				and distribuidor = A.distribuidor
		)
		ELSE 0
	 END ALCANCE_META
	,A.CANT UNIDAD_GLOBAL
	,1 UNIDAD_APLICA
	,'SI' APLICA
	,A.FACT_PAGADAS
	,SUM(A.CANT) OVER (PARTITION BY A.PERIODO_PAGO, A.PERIODO, A.DISTRIBUIDOR) TOTAL_APLICAN
	,SUM(A.CANT) OVER (PARTITION BY A.PERIODO_PAGO, A.PERIODO, A.DISTRIBUIDOR) TOTAL_UNIDADES
	,0 EFECTIVIDAD_VENTAS
	,A.FACTOR_VENTA FACTOR
	,A.COMISION
	,A.COMISION_SIN_IVA
	,A.TIPO_TRANS_COMI_ID TIPOTRANS_ID
	,C.CUENTA_SAP
	,C.CENTRO_COSTO_SAP
	,C.TIPOTRANS_DESC
	,D.NEGOCIO_ID
	,D.NEGOCIO_NOMBRE 
FROM DM_COMISV_POSPAGO.dbo.PagoPospagoVentasDEXCorpo A
	LEFT JOIN DM_COMISV_POSPAGO.dbo.DimDealer B ON B.DEALER_CODE = A.DEALER_CODE
	INNER JOIN DM_COMISV_POSPAGO.dbo.DimTipoTransaccion C ON C.TIPOTRANS_ID = A.TIPO_TRANS_COMI_ID
	INNER JOIN DM_COMISV_POSPAGO.dbo.DimNegocio D on D.NEGOCIO_ID = C.NEGOCIO_ID
WHERE A.PERIODO_PAGO = @periodo_pago
	AND A.FECHA_ID BETWEEN CONVERT(VARCHAR(8),B.FECHA_INI,112)
	    			   AND CONVERT(VARCHAR(8),ISNULL(B.FECHA_FIN,GETDATE()),112)	
-- BONO POR VOLUMEN SEGUN VENTAS EFECTUADAS DISTRIBUIDORES CORPORATIVOS
UNION ALL 
SELECT A.PERIODO_PAGO
	,A.PERIODO
	,A.FECHA_ID
	,A.DEALER_CODE
	,A.DEALER_NAME
	,A.DISTRIBUIDOR
	,C.CANAL
	,C.SUB_CANAL
	,C.ACREEDOR_ID	
	,B.CUSTOMER_ID
	,B.DN_NUM
	,B.CO_ID
	,B.NOMBRE_CLIENTE
	,B.APELLIDO_CLIENTE
	,B.NOMBRE_COMPLETO
	,B.NOMBRE_PLAN
	,B.CLASI_PLAN TIPO_PLAN
	,B.TIPO_CONTRATO
	,B.RENTA_COMISION RENTA_MENSUAL
	,B.CARGOS_AVI
	,A.TOTAL_REVENUE TOTAL_REVENUE_VENTA
	,A.META_LLAVE META
	,A.ALCANCE_META
	,A.CANT_VENTA UNIDAD_GLOBAL
	,A.CANT_APLICA UNIDAD_APLICA
	,A.APLICA
	,B.FACT_PAGADAS
	,SUM(CANT_APLICA) OVER (PARTITION BY A.PERIODO_PAGO, A.PERIODO, A.DISTRIBUIDOR) TOTAL_APLICAN
	,SUM(CANT_VENTA) OVER (PARTITION BY A.PERIODO_PAGO, A.PERIODO, A.DISTRIBUIDOR) TOTAL_UNIDADES
	,0 EFECTIVIDAD_VENTAS
	,1 FACTOR
	,A.COMISION
	,A.COMISION_SIN_IVA
	,A.TIPOTRANS_ID
	,D.CUENTA_SAP
	,D.CENTRO_COSTO_SAP
	,D.TIPOTRANS_DESC
	,E.NEGOCIO_ID
	,E.NEGOCIO_NOMBRE
FROM DM_COMISV_POSPAGO.dbo.PagoPospagoBonoPorVolumenDEXCorpo A
	INNER JOIN DM_COMISV_POSPAGO.dbo.PagoPospagoVentasDEXCorpo b on b.CO_ID = A.CO_ID and b.periodo = a.periodo
	LEFT JOIN DM_COMISV_POSPAGO.dbo.DimDealer C ON C.DEALER_CODE = A.DEALER_CODE
	INNER JOIN DM_COMISV_POSPAGO.dbo.DimTipoTransaccion D ON D.TIPOTRANS_ID = A.TIPOTRANS_ID
	INNER JOIN DM_COMISV_POSPAGO.dbo.DimNegocio E on E.NEGOCIO_ID = D.NEGOCIO_ID
WHERE A.PERIODO_PAGO = @periodo_pago
	AND A.FECHA_ID BETWEEN CONVERT(VARCHAR(8),C.FECHA_INI,112)
	    			   AND CONVERT(VARCHAR(8),ISNULL(C.FECHA_FIN,GETDATE()),112)	
--RENOVACIONES DISTRIBUIDORES CORPORATIVOS
UNION ALL 
SELECT A.PERIODO_PAGO
	,A.PERIODO
	,A.FECHA FECHA_ID
	,A.DEALER_CODE
	,A.DEALER_NAME
	,A.DISTRIBUIDOR
	,A.CANAL
	,A.SUB_CANAL
	,A.ACREEDOR_ID COLLATE Modern_Spanish_CI_AS ACREEDOR_ID
	,A.CUSTOMER_ID
	,A.DN_NUM
	,A.CO_ID
	,A.NOMBRE_CLIENTE
	,A.APELLIDO_CLIENTE
	,A.NOMBRE_COMPLETO
	,A.NOMBRE_PLAN_ACT NOMBRE_PLAN
	,A.TIPO_NVO TIPO_PLAN
	,CASE
		WHEN NOMBRE_PLAN_ACT LIKE '%APORTADO%' THEN 'APORTADO'
		ELSE 'CON EQUIPO'
	 END TIPO_CONTRATO
	,A.RENTA_MENSUAL_ACT RENTA_MENSUAL
	,A.CARGOS_AVI_ACT CARGOS_AVI
	,A.TOTAL_REVENUE_VENTA 
	,A.META_LLAVE META
	,A.ALCANCE ALCANCE_META
	,A.UNIDAD UNIDAD_GLOBAL
	,A.UNIDAD UNIDAD_APLICA
	,'SI' APLICA
	,0 FACT_PAGADAS
	,SUM(UNIDAD) OVER (PARTITION BY A.PERIODO_PAGO, A.PERIODO, A.DISTRIBUIDOR) TOTAL_APLICAN
	,SUM(UNIDAD) OVER (PARTITION BY A.PERIODO_PAGO, A.PERIODO, A.DISTRIBUIDOR) TOTAL_UNIDADES
	,0 EFECTIVIDAD_VENTAS	
	,A.FACTOR_FIDE FACTOR	
	,A.COMISION
	,A.COMISION_SIN_IVA
	,A.TIPOTRANS_ID
	,B.CUENTA_SAP
	,B.CENTRO_COSTO_SAP
	,B.TIPOTRANS_DESC
	,C.NEGOCIO_ID
	,C.NEGOCIO_NOMBRE
FROM DM_COMISV_POSPAGO.dbo.PagoPospagoRenovacionesDEXCorpo A
	INNER JOIN DM_COMISV_POSPAGO.dbo.DimTipoTransaccion B ON B.TIPOTRANS_ID = A.TIPOTRANS_ID
	INNER JOIN DM_COMISV_POSPAGO.dbo.DimNegocio C on C.NEGOCIO_ID = B.NEGOCIO_ID
where PERIODO_PAGO = @periodo_pago
