use DM_COMISV_POSPAGO

DECLARE @periodo_pago varchar(6)
DECLARE @periodo_corte varchar(6)

set @periodo_corte = '201809'
set @periodo_pago = convert(varchar(6),dateadd(m,1,convert(datetime,@periodo_corte+'01')),112)	

DELETE PagoPospagoConsolidadoDEXMasivo WHERE PERIODO_PAGO = @periodo_pago AND TRANSACCION IN ('VENTA','PERMANENCIA')

 
INSERT INTO PagoPospagoConsolidadoDEXCorpo
SELECT
	@periodo_pago PERIODO_PAGO
	,A.PERIODO
	,A.FECHA_ID
	,A.DEALER_CODE
	,A.DEALER_NAME
	,A.DISTRIBUIDOR
	,B.ACREEDOR_ID	
	,A.CANAL
	,A.CUSTOMER_ID
	,A.DN_NUM	
	,A.CO_ID
	,A.NOMBRE_PLAN
	,CASE 
		WHEN A.NOMBRE_PLAN LIKE '%PAGO%Y%LISTO%' THEN 'PAGO Y LISTO'
		WHEN A.NOMBRE_PLAN LIKE '%INTERNET%' THEN 'INTERNET MOVIL'
		WHEN A.NOMBRE_PLAN LIKE '%3G%' THEN 'INTERNET MOVIL'
		ELSE 'MOVIL'
	 END TIPO_PLAN
	,A.TIPO_CONTRATO
	,A.RENTA_COMISION RENTA_MENSUAL
	,'VENTA' TRANSACCION
	,SUM(A.RENTA_COMISION) OVER (PARTITION BY A.PERIODO, A.DISTRIBUIDOR ) TOTAL_REVENUE
	,( SELECT SUM(REVENUE)
		   FROM DMSVRHI_COMISIONES.dbo.DimMetasDistriPosRevenue
		   WHERE PERIODO COLLATE Modern_Spanish_CI_AS = A.PERIODO
			AND DISTRIBUIDOR COLLATE Modern_Spanish_CI_AS = CASE 
																WHEN A.DISTRIBUIDOR LIKE '%ACCES%' THEN 'ACCESCOM' 
																WHEN A.DISTRIBUIDOR LIKE '%MEDIA%MOVIL%' THEN 'MEDIAMOVIL' 
																WHEN A.DISTRIBUIDOR LIKE '%MULTISERVICIOS%DINA%' THEN 'MULTISERVICIOS DINA' 
																ELSE A.DISTRIBUIDOR 
															END
		  ) META	 	
	,SUM(A.RENTA_COMISION) OVER (PARTITION BY A.PERIODO, A.DISTRIBUIDOR ) / ( SELECT SUM(REVENUE)
		   FROM DMSVRHI_COMISIONES.dbo.DimMetasDistriPosRevenue
		   WHERE PERIODO COLLATE Modern_Spanish_CI_AS = A.PERIODO
			AND DISTRIBUIDOR COLLATE Modern_Spanish_CI_AS = CASE 
																WHEN A.DISTRIBUIDOR LIKE '%ACCES%' THEN 'ACCESCOM' 
																WHEN A.DISTRIBUIDOR LIKE '%MEDIA%MOVIL%' THEN 'MEDIAMOVIL' 
																WHEN A.DISTRIBUIDOR LIKE '%MULTISERVICIOS%DINA%' THEN 'MULTISERVICIOS DINA' 
																ELSE A.DISTRIBUIDOR 
															END
		  )	ALCANCE_META_VENTA
	,1 UNIDAD_GLOBAL
	,0 UNIDAD_APLICA_PERMA
	,'NO' APLICA_PERMA
	,A.FACT_PAGADAS	
	,0 TOTAL_APLICAN_PERMA
	,COUNT(*) OVER (PARTITION BY A.PERIODO, A.DISTRIBUIDOR) TOTAL_UNIDADES
	,0 EFECTIVIDAD_VENTAS
	,A.FACTOR_VENTA FACTOR
	,A.COMISION
	,A.COMISION_SIN_IVA
	,GETDATE() FECHA_PROCESO
	,1 TIPOTRANS_ID --INTO PagoPospagoConsolidadoDEXMasivo
  FROM [DM_COMISV_POSPAGO].[dbo].[PagoPospagoVentasDEXMasivo] A
		LEFT JOIN [DM_COMISV_POSPAGO].[dbo].DimDealer B ON B.DEALER_CODE = A.DEALER_CODE AND A.FECHA_ID BETWEEN CONVERT(VARCHAR(8),B.FECHA_INI,112) AND ISNULL(CONVERT(VARCHAR(8),FECHA_FIN,112),CONVERT(VARCHAR(8),GETDATE(),112))
  WHERE A.PERIODO_PAGO = @periodo_pago
UNION ALL
SELECT PERIODO_PAGO
      ,[PERIODO]
      ,[FECHA_ID]
      ,[DEALER_CODE]
      ,[DEALER_NAME]
      ,[DISTRIBUIDOR]
      ,[ACREEDOR_ID]
      ,[CANAL]
      ,[CUSTOMER_ID]
      ,[DN_NUM]
      ,[CO_ID]
      ,[NOMBRE_PLAN]
      ,[TIPO_PLAN]
      ,[TIPO_CONTRATO]
      ,[RENTA_MENSUAL]
      ,[TRANSACCION]
      ,[TOTAL_REVENUE]
      ,[META]
      ,[ALCANCE_META_VENTA]
      ,[UNIDAD_GLOBAL]
      ,[UNIDAD_APLICA_PERMA]
      ,[APLICA_PERMA]
      ,[FACT_PAGADAS]
      ,[TOTAL_APLICAN_PERMA]
      ,[TOTAL_VENTAS]
      ,[EFECTIDAD_VENTAS]
      ,[FACTOR_PERMA] FACTOR
      ,[COMISION]
      ,[COMISION_SIN_IVA]
      ,[FECHA_PROCESO]
      ,3 TIPOTRANS_ID
  FROM [DM_COMISV_POSPAGO].[dbo].[PagoPospagoPermanenciaDEXMasivo] A
  WHERE PERIODO_PAGO = @periodo_pago 
  
  
