

--CONSTRUYENDO VENTAS POSPAGO MASIVO
SELECT 
	 '201809' PERIODO_PAGO
    ,X.PERIODO
    ,X.FECHA_ID
    ,X.DEALER_CODE
    ,X.DEALER_NAME
    ,X.DISTRIBUIDOR
    ,X.ACREEDOR_ID
	,X.CUSTOMER_ID
	,X.DN_NUM
	,X.CO_ID
	,X.NOMBRE_PLAN	
	,X.RENTA_MENSUAL
	,'VENTAS' TRANSACCION
	,X.META
	,X.TOTAL_REVENUE
	,X.TOTAL_REVENUE/X.META ALCANCE_META_VENTA
	,X.UNIDAD_GLOBAL
	,X.UNIDAD_APLICA_PERMA
	,X.APLICA_PERMA
	,X.FACT_PAGADAS
	,SUM(X.UNIDAD_APLICA_PERMA) OVER (PARTITION BY X.PERIODO, X.DISTRIBUIDOR) TOTAL_APLICAN_PERMA
	,SUM(X.UNIDAD_GLOBAL) OVER (PARTITION BY X.PERIODO, X.DISTRIBUIDOR) TOTAL_VENTAS
	,(SUM(X.UNIDAD_APLICA_PERMA) OVER (PARTITION BY X.PERIODO, X.DISTRIBUIDOR) / CAST(SUM(X.UNIDAD_GLOBAL) OVER (PARTITION BY X.PERIODO, X.DISTRIBUIDOR) AS FLOAT) ) EFECTIDAD_VENTAS
	,X.COMISION
	,X.COMISION_SIN_IVA
FROM (
SELECT A.PERIODO
	,A.FECHA_ID
	,A.CUSTOMER_ID
	,A.DN_NUM	
	,A.CO_ID
	,A.NOMBRE_PLAN
	,A.RENTA_COMISION RENTA_MENSUAL
	,( SELECT SUM(REVENUE)
	   FROM DMSVRHI_COMISIONES.dbo.DimMetasDistriPosRevenue
	   WHERE PERIODO COLLATE Modern_Spanish_CI_AS = A.PERIODO AND DISTRIBUIDOR COLLATE Modern_Spanish_CI_AS = A.DISTRIBUIDOR
	  ) META	 
	,SUM(A.RENTA_COMISION) OVER (PARTITION BY A.PERIODO, A.DISTRIBUIDOR ) TOTAL_REVENUE		
	,A.FACT_PAGADAS	
	,CASE
		WHEN FACT_PAGADAS >= 2 THEN 'SI'
		ELSE 'NO'
	 END APLICA_PERMA
	,1 UNIDAD_GLOBAL	
	,CASE
		WHEN FACT_PAGADAS >= 2 THEN 1
		ELSE 0
	 END UNIDAD_APLICA_PERMA	
	,A.DEALER_CODE
	,A.DEALER_NAME
	,A.DISTRIBUIDOR	
	,B.ACREEDOR_ID
	,A.COMISION
	,A.COMISION_SIN_IVA
	,GETDATE() FECHA_PROCESO		
  FROM [DM_COMISV_POSPAGO].[dbo].[PagoPospagoVentasDEXMasivo] A
	LEFT JOIN DM_COMISV_POSPAGO.dbo.DimDealer B ON B.DEALER_CODE = A.DEALER_CODE
  WHERE A.PERIODO = '201808'
	AND A.DISTRIBUIDOR LIKE '%TDM%'
) X








