--select * from DimAcreedor where acreedor_nombre_comercial like '%2h%'

DECLARE @periodo_pago varchar(6)
DECLARE @periodo_corte varchar(6)
DECLARE @acreedor_id varchar(50)

set @periodo_corte = '202006'
set @periodo_pago = convert(varchar(6),dateadd(m,1,convert(datetime,@periodo_corte+'01')),112)	
set @acreedor_id = '700000515'

/*===================================================================================================================================================================
18/02/2016 10:35 :
 Se adicionó en la parte del Bono por Volumen, que cruce por Distribuidor, ya que al haber reclamos y una transaccion se le ha pagado a otro DEX
y este ya presentó factura, se duplicaba la transaccion pagada con la que de verdad le corresponde al distribuidor que reclama
===================================================================================================================================================================*/

if @acreedor_id = ''
	begin
		--Se borran todos los registros de los distribuidores a reprocesar
		DELETE FROM DM_COMISV_POSPAGO.dbo.PagoPospagoConsolidadoDEXCorpo where PERIODO_PAGO = @periodo_pago
				
		INSERT INTO DM_COMISV_POSPAGO.dbo.PagoPospagoConsolidadoDEXCorpo
		SELECT A.PERIODO_PAGO
			,A.PERIODO
			,A.FECHA_ID
			,A.DEALER_CODE
			,A.DEALER_NAME
			,A.DISTRIBUIDOR	
			,A.CANAL
			,A.SUB_CANAL
			,B.ACREEDOR_ID	
			,A.CUSTOMER_ID
			,A.DN_NUM
			,A.CO_ID
			,A.NOMBRE_CLIENTE
			,A.APELLIDO_CLIENTE
			,A.NOMBRE_COMPLETO
			,A.NOMBRE_PLAN
			,A.CLASI_PLAN TIPO_PLAN
			,A.TIPO_CONTRATO
			,A.RENTA_COMISION RENTA_MENSUAL
			,A.CARGOS_AVI
			,(SUM(A.RENTA_COMISION + A.CARGOS_AVI) OVER (PARTITION BY A.PERIODO_PAGO, A.PERIODO, A.DISTRIBUIDOR))/1.13 TOTAL_REVENUE_VENTA
			,CASE
				WHEN A.PERIODO < '201803'  THEN (
					select MOVIL 
					from DM_COMISV_POSPAGO.dbo.DimMetasDEXCorpo
					where periodo = A.periodo
						and distribuidor = A.distribuidor
				)
				WHEN A.PERIODO >= '201803' THEN (
					select FACT_MOVIL_NUEVO
					from DM_COMISV_POSPAGO.dbo.DimMetasDEXCorpoRevenue
					where periodo = a.periodo
						and distribuidor = A.distribuidor
				)
				ELSE 0
			 END META
			,( (SUM(A.RENTA_COMISION + A.CARGOS_AVI) OVER (PARTITION BY A.PERIODO_PAGO, A.PERIODO, A.DISTRIBUIDOR))/1.13 ) / 
			 CASE
				WHEN A.PERIODO < '201803'  THEN (
					select MOVIL 
					from DM_COMISV_POSPAGO.dbo.DimMetasDEXCorpo
					where periodo = A.periodo
						and distribuidor = A.distribuidor
				)
				WHEN A.PERIODO >= '201803' THEN (
					select FACT_MOVIL_NUEVO
					from DM_COMISV_POSPAGO.dbo.DimMetasDEXCorpoRevenue
					where periodo = a.periodo
						and distribuidor = A.distribuidor
				)
				ELSE 0
			 END ALCANCE_META
			,A.CANT UNIDAD_GLOBAL
			,1 UNIDAD_APLICA
			,'SI' APLICA
			,A.FACT_PAGADAS
			,SUM(A.CANT) OVER (PARTITION BY A.PERIODO_PAGO, A.PERIODO, A.DISTRIBUIDOR) TOTAL_APLICAN
			,SUM(A.CANT) OVER (PARTITION BY A.PERIODO_PAGO, A.PERIODO, A.DISTRIBUIDOR) TOTAL_UNIDADES
			,0 EFECTIVIDAD_VENTAS
			,A.FACTOR_VENTA FACTOR
			,A.COMISION
			,A.COMISION_SIN_IVA
			,A.TIPO_TRANS_COMI_ID TIPOTRANS_ID
			,C.CUENTA_SAP
			,C.CENTRO_COSTO_SAP
			,C.TIPOTRANS_DESC
			,D.NEGOCIO_ID
			,D.NEGOCIO_NOMBRE 
			,A.PRORRATEO
		FROM DM_COMISV_POSPAGO.dbo.PagoPospagoVentasDEXCorpo A
			LEFT JOIN DM_COMISV_POSPAGO.dbo.DimDealer B ON B.DEALER_CODE = A.DEALER_CODE
			INNER JOIN DM_COMISV_POSPAGO.dbo.DimTipoTransaccion C ON C.TIPOTRANS_ID = A.TIPO_TRANS_COMI_ID
			INNER JOIN DM_COMISV_POSPAGO.dbo.DimNegocio D on D.NEGOCIO_ID = C.NEGOCIO_ID
		WHERE A.PERIODO_PAGO = @periodo_pago
			AND A.FECHA_ID BETWEEN CONVERT(VARCHAR(8),B.FECHA_INI,112)
    						   AND CONVERT(VARCHAR(8),ISNULL(B.FECHA_FIN,GETDATE()),112)			
		-- BONO POR VOLUMEN SEGUN VENTAS EFECTUADAS DISTRIBUIDORES CORPORATIVOS
		UNION ALL 
		SELECT A.PERIODO_PAGO
			,A.PERIODO
			,A.FECHA_ID
			,A.DEALER_CODE
			,A.DEALER_NAME
			,A.DISTRIBUIDOR
			,C.CANAL
			,C.SUB_CANAL
			,C.ACREEDOR_ID	
			,B.CUSTOMER_ID
			,B.DN_NUM
			,B.CO_ID
			,B.NOMBRE_CLIENTE
			,B.APELLIDO_CLIENTE
			,B.NOMBRE_COMPLETO
			,B.NOMBRE_PLAN
			,B.CLASI_PLAN TIPO_PLAN
			,B.TIPO_CONTRATO
			,B.RENTA_COMISION RENTA_MENSUAL
			,B.CARGOS_AVI
			,A.TOTAL_REVENUE TOTAL_REVENUE_VENTA
			,A.META_LLAVE META
			,A.ALCANCE_META
			,A.CANT_VENTA UNIDAD_GLOBAL
			,A.CANT_APLICA UNIDAD_APLICA
			,A.APLICA
			,B.FACT_PAGADAS
			,SUM(CANT_APLICA) OVER (PARTITION BY A.PERIODO_PAGO, A.PERIODO, A.DISTRIBUIDOR) TOTAL_APLICAN
			,SUM(CANT_VENTA) OVER (PARTITION BY A.PERIODO_PAGO, A.PERIODO, A.DISTRIBUIDOR) TOTAL_UNIDADES
			,0 EFECTIVIDAD_VENTAS
			,1 FACTOR
			,A.COMISION
			,A.COMISION_SIN_IVA
			,A.TIPOTRANS_ID
			,D.CUENTA_SAP
			,D.CENTRO_COSTO_SAP
			,D.TIPOTRANS_DESC
			,E.NEGOCIO_ID
			,E.NEGOCIO_NOMBRE
			,1 PRORRATEO
		FROM DM_COMISV_POSPAGO.dbo.PagoPospagoBonoPorVolumenDEXCorpo A
			INNER JOIN DM_COMISV_POSPAGO.dbo.PagoPospagoVentasDEXCorpo b on b.CO_ID = A.CO_ID and b.PERIODO_PAGO = a.PERIODO_PAGO AND B.DISTRIBUIDOR = A.DISTRIBUIDOR
			LEFT JOIN DM_COMISV_POSPAGO.dbo.DimDealer C ON C.DEALER_CODE = A.DEALER_CODE
			INNER JOIN DM_COMISV_POSPAGO.dbo.DimTipoTransaccion D ON D.TIPOTRANS_ID = A.TIPOTRANS_ID
			INNER JOIN DM_COMISV_POSPAGO.dbo.DimNegocio E on E.NEGOCIO_ID = D.NEGOCIO_ID
		WHERE A.PERIODO_PAGO = @periodo_pago
			AND A.FECHA_ID BETWEEN CONVERT(VARCHAR(8),C.FECHA_INI,112)
    						   AND CONVERT(VARCHAR(8),ISNULL(C.FECHA_FIN,GETDATE()),112)	
		--RENOVACIONES DISTRIBUIDORES CORPORATIVOS
		UNION ALL 
		SELECT A.PERIODO_PAGO
			,A.PERIODO
			,A.FECHA FECHA_ID
			,A.DEALER_CODE
			,A.DEALER_NAME
			,A.DISTRIBUIDOR
			,A.CANAL
			,A.SUB_CANAL
			,A.ACREEDOR_ID COLLATE Modern_Spanish_CI_AS ACREEDOR_ID
			,A.CUSTOMER_ID
			,A.DN_NUM
			,A.CO_ID
			,A.NOMBRE_CLIENTE
			,A.APELLIDO_CLIENTE
			,A.NOMBRE_COMPLETO
			,A.NOMBRE_PLAN_ACT NOMBRE_PLAN
			,A.TIPO_NVO TIPO_PLAN
			,CASE
				WHEN NOMBRE_PLAN_ACT LIKE '%APORTADO%' THEN 'APORTADO'
				ELSE 'CON EQUIPO'
			 END TIPO_CONTRATO
			,A.RENTA_MENSUAL_ACT RENTA_MENSUAL
			,A.CARGOS_AVI_ACT CARGOS_AVI
			,A.TOTAL_REVENUE_VENTA 
			,A.META_LLAVE META
			,A.ALCANCE ALCANCE_META
			,A.UNIDAD UNIDAD_GLOBAL
			,A.UNIDAD UNIDAD_APLICA
			,'SI' APLICA
			,0 FACT_PAGADAS
			,SUM(UNIDAD) OVER (PARTITION BY A.PERIODO_PAGO, A.PERIODO, A.DISTRIBUIDOR) TOTAL_APLICAN
			,SUM(UNIDAD) OVER (PARTITION BY A.PERIODO_PAGO, A.PERIODO, A.DISTRIBUIDOR) TOTAL_UNIDADES
			,0 EFECTIVIDAD_VENTAS	
			,A.FACTOR_FIDE FACTOR	
			,A.COMISION
			,A.COMISION_SIN_IVA
			,A.TIPOTRANS_ID
			,B.CUENTA_SAP
			,B.CENTRO_COSTO_SAP
			,B.TIPOTRANS_DESC
			,C.NEGOCIO_ID
			,C.NEGOCIO_NOMBRE
			,A.PRORRATEO
		FROM DM_COMISV_POSPAGO.dbo.PagoPospagoRenovacionesDEXCorpo A
			INNER JOIN DM_COMISV_POSPAGO.dbo.DimTipoTransaccion B ON B.TIPOTRANS_ID = A.TIPOTRANS_ID
			INNER JOIN DM_COMISV_POSPAGO.dbo.DimNegocio C on C.NEGOCIO_ID = B.NEGOCIO_ID
		where PERIODO_PAGO = @periodo_pago
			AND A.META_LLAVE IS NOT NULL
		UNION ALL
		--SERVICIOS SVA LOCALIZAME
		SELECT 
			A.PERIODO_PAGO
		   ,A.PERIODO
		   ,A.FECHA_ID
		   ,A.DEALER_CODE
		   ,A.DEALER_NAME
		   ,A.DISTRIBUIDOR
		   ,A.CANAL
		   ,A.SUB_CANAL
		   ,A.ACREEDOR_ID
		   ,A.CUSTOMER_ID
		   ,A.DN_NUM
		   ,A.CO_ID
		   ,A.NOMBRE_CLIENTE
		   ,A.APELLIDO_CLIENTE
		   ,A.NOMBRE_COMPLETO
		   ,A.NOMBRE_SERVICIO NOMBRE_PLAN
		   ,A.TIPO_PRODUCTO TIPO_PLAN
		   ,A.TIPO_CONTRATO
		   ,A.ACCESSFEE RENTA_MENSUAL
		   ,0 CARGOS_AVI
		   ,A.MONTO_TOTAL TOTAL_REVENUE_VENTA
		   ,A.META_MONTO META
		   ,A.MONTO_TOTAL / A.META_MONTO ALCANCE_META
		   ,1 UNIDAD_GLOBAL
		   ,1 UNIDAD_APLICA
		   ,'SI' APLICA
		   ,0 FACT_PAGADAS
		   ,A.UNIDADES_TOTAL TOTAL_APLICAN
		   ,A.UNIDADES_TOTAL TOTAL_UNIDADES
		   ,0 EFECTIVIDAD_VENTAS
		   ,A.FACTOR
		   ,A.COMISION
		   ,A.COMISION_SIN_IVA
		   ,A.TIPOTRANS_ID
		   ,B.CUENTA_SAP
		   ,B.CENTRO_COSTO_SAP
		   ,B.TIPOTRANS_DESC
		   ,B.NEGOCIO_ID
		   ,C.NEGOCIO_NOMBRE
		   ,1 PRORRATEO
		FROM DM_COMISV_POSPAGO.dbo.PagoPospagoSVADEXCorpo A
			INNER JOIN DM_COMISV_POSPAGO.dbo.DimTipoTransaccion B ON B.TIPOTRANS_ID = A.TIPOTRANS_ID
			INNER JOIN DM_COMISV_POSPAGO.dbo.DimNegocio C ON C.NEGOCIO_ID = B.NEGOCIO_ID
		WHERE A.PERIODO_PAGO = @periodo_pago	
		UNION ALL
		--SERVICIOS CLOUD
		SELECT 
			A.PERIODO_PAGO 
		   ,A.PERIODO COLLATE SQL_Latin1_General_CP1_CI_AS
		   ,CONVERT(VARCHAR(8),A.FECHA,112) FECHA_ID
		   ,A.DEALER_CODE COLLATE SQL_Latin1_General_CP1_CI_AS
		   ,D.DEALER_NAME COLLATE SQL_Latin1_General_CP1_CI_AS
		   ,A.DISTRIBUIDOR COLLATE SQL_Latin1_General_CP1_CI_AS
		   ,A.CANAL COLLATE SQL_Latin1_General_CP1_CI_AS
		   ,D.SUB_CANAL  COLLATE SQL_Latin1_General_CP1_CI_AS
		   ,A.ACREEDOR_ID 
		   ,A.CUSTOMER_ID 
		   ,A.ND COLLATE SQL_Latin1_General_CP1_CI_AS DN_NUM
		   ,A.CO_ID COLLATE SQL_Latin1_General_CP1_CI_AS
		   ,A.NOMBRE_COMPLETO COLLATE SQL_Latin1_General_CP1_CI_AS NOMBRE_CLIENTE  
		   ,A.NOMBRE_COMPLETO COLLATE SQL_Latin1_General_CP1_CI_AS APELLIDO_CLIENTE  
		   ,A.NOMBRE_COMPLETO  COLLATE SQL_Latin1_General_CP1_CI_AS
		   ,A.NOMBRE_PLAN  COLLATE SQL_Latin1_General_CP1_CI_AS
		   ,A.TIPO_PRODUCTO COLLATE SQL_Latin1_General_CP1_CI_AS TIPO_PLAN 
		   ,A.TIPO_PRODUCTO COLLATE SQL_Latin1_General_CP1_CI_AS TIPO_CONTRATO 
		   ,A.CARGO_BASICO RENTA_MENSUAL
		   ,0 CARGOS_AVI
		   ,A.MONTO_TOTAL TOTAL_REVENUE_VENTA
		   ,700 META
		   ,A.MONTO_TOTAL / 700.0000 ALCANCE_META
		   ,1 UNIDAD_GLOBAL
		   ,1 UNIDAD_APLICA
		   ,'SI' APLICA
		   ,0 FACT_PAGADAS
		   ,A.UNIDADES_TOTAL TOTAL_APLICAN
		   ,A.UNIDADES_TOTAL TOTAL_UNIDADES
		   ,0 EFECTIVIDAD_VENTAS
		   ,A.FACTOR
		   ,A.COMISION
		   ,A.COMISION_SIN_IVA
		   ,A.TIPOTRANS_ID
		   ,B.CUENTA_SAP
		   ,B.CENTRO_COSTO_SAP
		   ,B.TIPOTRANS_DESC 
		   ,B.NEGOCIO_ID 
		   ,C.NEGOCIO_NOMBRE 
		   ,1 PRORRATEO
		FROM DM_COMISV_POSPAGO.dbo.PagoPospagoCloudDEXCorpo A	
			INNER JOIN DM_COMISV_POSPAGO.dbo.DimTipoTransaccion B ON B.TIPOTRANS_ID = A.TIPOTRANS_ID
			INNER JOIN DM_COMISV_POSPAGO.dbo.DimNegocio C ON C.NEGOCIO_ID = B.NEGOCIO_ID
			INNER JOIN DM_COMISV_POSPAGO.dbo.DimDealer D on D.DEALER_CODE COLLATE SQL_Latin1_General_CP1_CI_AS = A.DEALER_CODE
		WHERE A.PERIODO_PAGO = @periodo_pago
		  AND CONVERT(VARCHAR(6),A.PERIODO,112) BETWEEN CONVERT(VARCHAR(6),D.FECHA_INI,112) AND CONVERT(VARCHAR(6),ISNULL(D.FECHA_FIN,GETDATE()),112)		
		UNION ALL
		SELECT [PERIODO_PAGO]
			  ,[PERIODO]
			  ,[FECHA_ID]
			  ,[DEALER_CODE]
			  ,[DEALER_NAME]
			  ,[DISTRIBUIDOR]
			  ,[CANAL]
			  ,[SUB_CANAL]
			  ,[ACREEDOR_ID]
			  ,[CUSTOMER_ID]
			  ,[DN_NUM]
			  ,[CO_ID]
			  ,[NOMBRE_CLIENTE]
			  ,[APELLIDO_CLIENTE]
			  ,[NOMBRE_COMPLETO]
			  ,[NOMBRE_PLAN_ACT]
			  --,[NOMBRE_PLAN_ANT]
			  ,[TIPO_PLAN]
			  ,[TIPO_CONTRATO]
			  ,[RENTA_MENSUAL_ACT]
			  --,[RENTA_MENSUAL_ANT]
			  ,[CARGOS_AVI_ACT]
			  --,[CARGOS_AVI_ANT]
			  ,[TOTAL_REVENUE_VENTA]
			  ,[META]
			  ,[ALCANCE_META]
			  ,[UNIDAD_GLOBAL]
			  ,[UNIDAD_APLICA]
			  ,[APLICA]
			  ,[FACT_PAGADAS]
			  ,[TOTAL_APLICAN]
			  ,[TOTAL_UNIDADES]
			  ,[EFECTIVIDAD_VENTAS]
			  ,[FACTOR]
			  ,[COMISION]
			  ,[COMISION_SIN_IVA]
			  ,[TIPOTRANS_ID]
			  ,[CUENTA_SAP]
			  ,[CENTRO_COSTO_SAP]
			  ,[TIPOTRANS_DESC]
			  ,[NEGOCIO_ID]
			  ,[NEGOCIO_NOMBRE]
			  ,1 PRORRATEO
		  FROM [DM_COMISV_POSPAGO].[dbo].[PagoPospagoCambiosDePlanDEXCorpo] A
		  WHERE A.PERIODO_PAGO = @periodo_pago

	end
else 
	begin
		
		--Se borran todos los registros solo del distribuidor a reprocesar		
		DELETE FROM DM_COMISV_POSPAGO.dbo.PagoPospagoConsolidadoDEXCorpo where PERIODO_PAGO = @periodo_pago and ACREEDOR_ID = @acreedor_id
		
		--Se ingresa la nueva información del distribuidor reprocesado
		
		INSERT INTO DM_COMISV_POSPAGO.dbo.PagoPospagoConsolidadoDEXCorpo
		--VENTAS DISTRIBUIDORES CORPORATIVOS
		SELECT A.PERIODO_PAGO
			,A.PERIODO
			,A.FECHA_ID
			,A.DEALER_CODE
			,A.DEALER_NAME
			,A.DISTRIBUIDOR	
			,A.CANAL
			,A.SUB_CANAL
			,B.ACREEDOR_ID	
			,A.CUSTOMER_ID
			,A.DN_NUM
			,A.CO_ID
			,A.NOMBRE_CLIENTE
			,A.APELLIDO_CLIENTE
			,A.NOMBRE_COMPLETO
			,A.NOMBRE_PLAN
			,A.CLASI_PLAN TIPO_PLAN
			,A.TIPO_CONTRATO
			,A.RENTA_COMISION RENTA_MENSUAL
			,A.CARGOS_AVI
			,(SUM(A.RENTA_COMISION + A.CARGOS_AVI) OVER (PARTITION BY A.PERIODO_PAGO, A.PERIODO, A.DISTRIBUIDOR))/1.13 TOTAL_REVENUE_VENTA
			,CASE
				WHEN A.PERIODO < '201803'  THEN (
					select MOVIL 
					from DM_COMISV_POSPAGO.dbo.DimMetasDEXCorpo
					where periodo = A.periodo
						and distribuidor = A.distribuidor
				)
				WHEN A.PERIODO >= '201803' THEN (
					select FACT_MOVIL_NUEVO
					from DM_COMISV_POSPAGO.dbo.DimMetasDEXCorpoRevenue
					where periodo = a.periodo
						and distribuidor = A.distribuidor
				)
				ELSE 0
			 END META
			,( (SUM(A.RENTA_COMISION + A.CARGOS_AVI) OVER (PARTITION BY A.PERIODO_PAGO, A.PERIODO, A.DISTRIBUIDOR))/1.13 ) / 
			 CASE
				WHEN A.PERIODO < '201803'  THEN (
					select MOVIL 
					from DM_COMISV_POSPAGO.dbo.DimMetasDEXCorpo
					where periodo = A.periodo
						and distribuidor = A.distribuidor
				)
				WHEN A.PERIODO >= '201803' THEN (
					select FACT_MOVIL_NUEVO
					from DM_COMISV_POSPAGO.dbo.DimMetasDEXCorpoRevenue
					where periodo = a.periodo
						and distribuidor = A.distribuidor
				)
				ELSE 0
			 END ALCANCE_META
			,A.CANT UNIDAD_GLOBAL
			,1 UNIDAD_APLICA
			,'SI' APLICA
			,A.FACT_PAGADAS
			,SUM(A.CANT) OVER (PARTITION BY A.PERIODO_PAGO, A.PERIODO, A.DISTRIBUIDOR) TOTAL_APLICAN
			,SUM(A.CANT) OVER (PARTITION BY A.PERIODO_PAGO, A.PERIODO, A.DISTRIBUIDOR) TOTAL_UNIDADES
			,0 EFECTIVIDAD_VENTAS
			,A.FACTOR_VENTA FACTOR
			,A.COMISION
			,A.COMISION_SIN_IVA
			,A.TIPO_TRANS_COMI_ID TIPOTRANS_ID
			,C.CUENTA_SAP
			,C.CENTRO_COSTO_SAP
			,C.TIPOTRANS_DESC
			,D.NEGOCIO_ID
			,D.NEGOCIO_NOMBRE 
			,A.PRORRATEO
		FROM DM_COMISV_POSPAGO.dbo.PagoPospagoVentasDEXCorpo A
			LEFT JOIN DM_COMISV_POSPAGO.dbo.DimDealer B ON B.DEALER_CODE = A.DEALER_CODE
			INNER JOIN DM_COMISV_POSPAGO.dbo.DimTipoTransaccion C ON C.TIPOTRANS_ID = A.TIPO_TRANS_COMI_ID
			INNER JOIN DM_COMISV_POSPAGO.dbo.DimNegocio D on D.NEGOCIO_ID = C.NEGOCIO_ID
		WHERE A.PERIODO_PAGO = @periodo_pago
			AND A.FECHA_ID BETWEEN CONVERT(VARCHAR(8),B.FECHA_INI,112)
	    					   AND CONVERT(VARCHAR(8),ISNULL(B.FECHA_FIN,GETDATE()),112)	
	    	and B.ACREEDOR_ID = @acreedor_id	    	
		-- BONO POR VOLUMEN SEGUN VENTAS EFECTUADAS DISTRIBUIDORES CORPORATIVOS
		UNION ALL 
		SELECT A.PERIODO_PAGO
			,A.PERIODO
			,A.FECHA_ID
			,A.DEALER_CODE
			,A.DEALER_NAME
			,A.DISTRIBUIDOR
			,C.CANAL
			,C.SUB_CANAL
			,C.ACREEDOR_ID	
			,B.CUSTOMER_ID
			,B.DN_NUM
			,B.CO_ID
			,B.NOMBRE_CLIENTE
			,B.APELLIDO_CLIENTE
			,B.NOMBRE_COMPLETO
			,B.NOMBRE_PLAN
			,B.CLASI_PLAN TIPO_PLAN
			,B.TIPO_CONTRATO
			,B.RENTA_COMISION RENTA_MENSUAL
			,B.CARGOS_AVI
			,A.TOTAL_REVENUE TOTAL_REVENUE_VENTA
			,A.META_LLAVE META
			,A.ALCANCE_META
			,A.CANT_VENTA UNIDAD_GLOBAL
			,A.CANT_APLICA UNIDAD_APLICA
			,A.APLICA
			,B.FACT_PAGADAS
			,SUM(CANT_APLICA) OVER (PARTITION BY A.PERIODO_PAGO, A.PERIODO, A.DISTRIBUIDOR) TOTAL_APLICAN
			,SUM(CANT_VENTA) OVER (PARTITION BY A.PERIODO_PAGO, A.PERIODO, A.DISTRIBUIDOR) TOTAL_UNIDADES
			,0 EFECTIVIDAD_VENTAS
			,1 FACTOR
			,A.COMISION
			,A.COMISION_SIN_IVA
			,A.TIPOTRANS_ID
			,D.CUENTA_SAP
			,D.CENTRO_COSTO_SAP
			,D.TIPOTRANS_DESC
			,E.NEGOCIO_ID
			,E.NEGOCIO_NOMBRE
			,1 PRORRATEO
		FROM DM_COMISV_POSPAGO.dbo.PagoPospagoBonoPorVolumenDEXCorpo A
			INNER JOIN DM_COMISV_POSPAGO.dbo.PagoPospagoVentasDEXCorpo b on b.CO_ID = A.CO_ID and b.PERIODO_PAGO = a.periodo_pago and b.DISTRIBUIDOR = A.DISTRIBUIDOR
			LEFT JOIN DM_COMISV_POSPAGO.dbo.DimDealer C ON C.DEALER_CODE = A.DEALER_CODE
			INNER JOIN DM_COMISV_POSPAGO.dbo.DimTipoTransaccion D ON D.TIPOTRANS_ID = A.TIPOTRANS_ID
			INNER JOIN DM_COMISV_POSPAGO.dbo.DimNegocio E on E.NEGOCIO_ID = D.NEGOCIO_ID
		WHERE A.PERIODO_PAGO = @periodo_pago
			AND A.FECHA_ID BETWEEN CONVERT(VARCHAR(8),C.FECHA_INI,112)
	    					   AND CONVERT(VARCHAR(8),ISNULL(C.FECHA_FIN,GETDATE()),112)	
	    	and C.ACREEDOR_ID = @acreedor_id
		--RENOVACIONES DISTRIBUIDORES CORPORATIVOS
		UNION ALL 
		SELECT A.PERIODO_PAGO
			,A.PERIODO
			,A.FECHA FECHA_ID
			,A.DEALER_CODE
			,A.DEALER_NAME
			,A.DISTRIBUIDOR
			,A.CANAL
			,A.SUB_CANAL
			,A.ACREEDOR_ID COLLATE Modern_Spanish_CI_AS ACREEDOR_ID
			,A.CUSTOMER_ID
			,A.DN_NUM
			,A.CO_ID
			,A.NOMBRE_CLIENTE
			,A.APELLIDO_CLIENTE
			,A.NOMBRE_COMPLETO
			,A.NOMBRE_PLAN_ACT NOMBRE_PLAN
			,A.TIPO_NVO TIPO_PLAN
			,CASE
				WHEN NOMBRE_PLAN_ACT LIKE '%APORTADO%' THEN 'APORTADO'
				ELSE 'CON EQUIPO'
			 END TIPO_CONTRATO
			,A.RENTA_MENSUAL_ACT RENTA_MENSUAL
			,A.CARGOS_AVI_ACT CARGOS_AVI
			,A.TOTAL_REVENUE_VENTA 
			,A.META_LLAVE META
			,A.ALCANCE ALCANCE_META
			,A.UNIDAD UNIDAD_GLOBAL
			,A.UNIDAD UNIDAD_APLICA
			,'SI' APLICA
			,0 FACT_PAGADAS
			,SUM(UNIDAD) OVER (PARTITION BY A.PERIODO_PAGO, A.PERIODO, A.DISTRIBUIDOR) TOTAL_APLICAN
			,SUM(UNIDAD) OVER (PARTITION BY A.PERIODO_PAGO, A.PERIODO, A.DISTRIBUIDOR) TOTAL_UNIDADES
			,0 EFECTIVIDAD_VENTAS	
			,A.FACTOR_FIDE FACTOR	
			,A.COMISION
			,A.COMISION_SIN_IVA
			,A.TIPOTRANS_ID
			,B.CUENTA_SAP
			,B.CENTRO_COSTO_SAP
			,B.TIPOTRANS_DESC
			,C.NEGOCIO_ID
			,C.NEGOCIO_NOMBRE
			,A.PRORRATEO
		FROM DM_COMISV_POSPAGO.dbo.PagoPospagoRenovacionesDEXCorpo A
			INNER JOIN DM_COMISV_POSPAGO.dbo.DimTipoTransaccion B ON B.TIPOTRANS_ID = A.TIPOTRANS_ID
			INNER JOIN DM_COMISV_POSPAGO.dbo.DimNegocio C on C.NEGOCIO_ID = B.NEGOCIO_ID
		where PERIODO_PAGO = @periodo_pago
		 and A.ACREEDOR_ID = @acreedor_id
		 UNION ALL
		 --SERVICIOS SVA LOCALIZAME
		SELECT 
			A.PERIODO_PAGO
		   ,A.PERIODO
		   ,A.FECHA_ID
		   ,A.DEALER_CODE
		   ,A.DEALER_NAME
		   ,A.DISTRIBUIDOR
		   ,A.CANAL
		   ,A.SUB_CANAL
		   ,A.ACREEDOR_ID
		   ,A.CUSTOMER_ID
		   ,A.DN_NUM
		   ,A.CO_ID
		   ,A.NOMBRE_CLIENTE
		   ,A.APELLIDO_CLIENTE
		   ,A.NOMBRE_COMPLETO
		   ,A.NOMBRE_SERVICIO NOMBRE_PLAN
		   ,A.TIPO_PRODUCTO TIPO_PLAN
		   ,A.TIPO_CONTRATO
		   ,A.ACCESSFEE RENTA_MENSUAL
		   ,0 CARGOS_AVI
		   ,A.MONTO_TOTAL TOTAL_REVENUE_VENTA
		   ,A.META_MONTO META
		   ,A.MONTO_TOTAL / A.META_MONTO ALCANCE_META
		   ,1 UNIDAD_GLOBAL
		   ,1 UNIDAD_APLICA
		   ,'SI' APLICA
		   ,0 FACT_PAGADAS
		   ,A.UNIDADES_TOTAL TOTAL_APLICAN
		   ,A.UNIDADES_TOTAL TOTAL_UNIDADES
		   ,0 EFECTIVIDAD_VENTAS
		   ,A.FACTOR
		   ,A.COMISION
		   ,A.COMISION_SIN_IVA
		   ,A.TIPOTRANS_ID
		   ,B.CUENTA_SAP
		   ,B.CENTRO_COSTO_SAP
		   ,B.TIPOTRANS_DESC
		   ,B.NEGOCIO_ID
		   ,C.NEGOCIO_NOMBRE
		   ,1 PRORRATEO
		FROM DM_COMISV_POSPAGO.dbo.PagoPospagoSVADEXCorpo A
			INNER JOIN DM_COMISV_POSPAGO.dbo.DimTipoTransaccion B ON B.TIPOTRANS_ID = A.TIPOTRANS_ID
			INNER JOIN DM_COMISV_POSPAGO.dbo.DimNegocio C ON C.NEGOCIO_ID = B.NEGOCIO_ID
		WHERE A.PERIODO_PAGO = @periodo_pago
			and A.ACREEDOR_ID = @acreedor_id		
		UNION ALL
		--SERVICIOS CLOUD
		SELECT 
			A.PERIODO_PAGO 
		   ,A.PERIODO COLLATE SQL_Latin1_General_CP1_CI_AS
		   ,CONVERT(VARCHAR(8),A.FECHA,112) FECHA_ID
		   ,A.DEALER_CODE COLLATE SQL_Latin1_General_CP1_CI_AS
		   ,D.DEALER_NAME COLLATE SQL_Latin1_General_CP1_CI_AS
		   ,A.DISTRIBUIDOR COLLATE SQL_Latin1_General_CP1_CI_AS
		   ,A.CANAL COLLATE SQL_Latin1_General_CP1_CI_AS
		   ,D.SUB_CANAL  COLLATE SQL_Latin1_General_CP1_CI_AS
		   ,A.ACREEDOR_ID 
		   ,A.CUSTOMER_ID 
		   ,A.ND COLLATE SQL_Latin1_General_CP1_CI_AS DN_NUM
		   ,A.CO_ID COLLATE SQL_Latin1_General_CP1_CI_AS
		   ,A.NOMBRE_COMPLETO COLLATE SQL_Latin1_General_CP1_CI_AS NOMBRE_CLIENTE  
		   ,A.NOMBRE_COMPLETO COLLATE SQL_Latin1_General_CP1_CI_AS APELLIDO_CLIENTE  
		   ,A.NOMBRE_COMPLETO  COLLATE SQL_Latin1_General_CP1_CI_AS
		   ,A.NOMBRE_PLAN  COLLATE SQL_Latin1_General_CP1_CI_AS
		   ,A.TIPO_PRODUCTO COLLATE SQL_Latin1_General_CP1_CI_AS TIPO_PLAN 
		   ,A.TIPO_PRODUCTO COLLATE SQL_Latin1_General_CP1_CI_AS TIPO_CONTRATO 
		   ,A.CARGO_BASICO RENTA_MENSUAL
		   ,0 CARGOS_AVI
		   ,A.MONTO_TOTAL TOTAL_REVENUE_VENTA
		   ,700 META
		   ,A.MONTO_TOTAL / 700.0000 ALCANCE_META
		   ,1 UNIDAD_GLOBAL
		   ,1 UNIDAD_APLICA
		   ,'SI' APLICA
		   ,0 FACT_PAGADAS
		   ,A.UNIDADES_TOTAL TOTAL_APLICAN
		   ,A.UNIDADES_TOTAL TOTAL_UNIDADES
		   ,0 EFECTIVIDAD_VENTAS
		   ,A.FACTOR
		   ,A.COMISION
		   ,A.COMISION_SIN_IVA
		   ,A.TIPOTRANS_ID
		   ,B.CUENTA_SAP
		   ,B.CENTRO_COSTO_SAP
		   ,B.TIPOTRANS_DESC 
		   ,B.NEGOCIO_ID 
		   ,C.NEGOCIO_NOMBRE 
		   ,1 PRORRATEO
		FROM DM_COMISV_POSPAGO.dbo.PagoPospagoCloudDEXCorpo A	
			INNER JOIN DM_COMISV_POSPAGO.dbo.DimTipoTransaccion B ON B.TIPOTRANS_ID = A.TIPOTRANS_ID
			INNER JOIN DM_COMISV_POSPAGO.dbo.DimNegocio C ON C.NEGOCIO_ID = B.NEGOCIO_ID
			INNER JOIN DM_COMISV_POSPAGO.dbo.DimDealer D on D.DEALER_CODE COLLATE SQL_Latin1_General_CP1_CI_AS = A.DEALER_CODE
		WHERE A.PERIODO_PAGO = @periodo_pago
		  AND CONVERT(VARCHAR(6),A.PERIODO,112) BETWEEN CONVERT(VARCHAR(6),D.FECHA_INI,112) AND CONVERT(VARCHAR(6),ISNULL(D.FECHA_FIN,GETDATE()),112)		  
		  and A.ACREEDOR_ID = @acreedor_id	
		  AND A.NOMBRE_COMPLETO NOT like '%IGLESIA%APOSTOLICA%'	
		--COMPLEMENTOS
		UNION ALL
		SELECT @periodo_pago PERIODO_PAGO
			  ,A.[PERIODO]
			  ,A.[FECHA_ID]
			  ,A.[DEALER_CODE]
			  ,A.[DEALER_NAME]
			  ,A.[DISTRIBUIDOR]
			  ,A.[CANAL]
			  ,A.[SUB_CANAL]
			  ,A.[ACREEDOR_ID]
			  ,A.[CUSTOMER_ID]
			  ,A.[DN_NUM]
			  ,A.[CO_ID]
			  ,A.[NOMBRE_CLIENTE]
			  ,A.[APELLIDO_CLIENTE]
			  ,A.[NOMBRE_COMPLETO]
			  ,A.[NOMBRE_PLAN]
			  ,A.[TIPO_PLAN]
			  ,A.[TIPO_CONTRATO]
			  ,A.[RENTA_MENSUAL]
			  ,A.[CARGOS_AVI]
			  ,A.[TOTAL_REVENUE_VENTA]
			  ,A.[META]
			  ,A.[ALCANCE_META]
			  ,A.[UNIDAD_GLOBAL]
			  ,A.[UNIDAD_APLICA]
			  ,A.[APLICA]
			  ,A.[FACT_PAGADAS]
			  ,A.[TOTAL_APLICAN]
			  ,A.[TOTAL_UNIDADES]
			  ,A.[EFECTIVIDAD_VENTAS]
			  ,A.[FACTOR]
			  ,A.COMISION - ISNULL(B.COMISION,0) 
			  ,A.COMISION_SIN_IVA - ISNULL(B.COMISION_SIN_IVA,0) COMISION_SIN_IVA
			  ,case 
				 when a.TIPOTRANS_ID = 1 then 39
				 when a.TIPOTRANS_ID = 5 then 40
			  end TIPOTRANS_ID
			  ,C.CUENTA_SAP
			  ,C.CENTRO_COSTO_SAP
			  ,C.TIPOTRANS_DESC
			  ,D.NEGOCIO_ID
			  ,D.NEGOCIO_NOMBRE 
			  ,1 PRORRATEO
		from [DM_COMISV_POSPAGO].[dbo].[PagoPospagoConsolidadoDEXCorpo]  a
			left join dbo.HistoricoPagoPospagoConsolidadoDEXCorpo b on b.co_id = a.co_id and b.TIPOTRANS_ID = a.TIPOTRANS_ID and b.PERIODO = a.PERIODO
			INNER JOIN DM_COMISV_POSPAGO.dbo.DimTipoTransaccion C ON C.TIPOTRANS_ID = case 
																						 when a.TIPOTRANS_ID = 1 then 39
																						 when a.TIPOTRANS_ID = 5 then 40
																					  end
			INNER JOIN DM_COMISV_POSPAGO.dbo.DimNegocio D on D.NEGOCIO_ID = C.NEGOCIO_ID
		where a.PERIODO_PAGO = '201811'
			and A.ACREEDOR_ID = @acreedor_id
			AND ( A.COMISION_SIN_IVA - ISNULL(B.COMISION_SIN_IVA,0)  ) > 0
		UNION ALL
		SELECT [PERIODO_PAGO]
			  ,[PERIODO]
			  ,[FECHA_ID]
			  ,[DEALER_CODE]
			  ,[DEALER_NAME]
			  ,[DISTRIBUIDOR]
			  ,[CANAL]
			  ,[SUB_CANAL]
			  ,[ACREEDOR_ID]
			  ,[CUSTOMER_ID]
			  ,[DN_NUM]
			  ,[CO_ID]
			  ,[NOMBRE_CLIENTE]
			  ,[APELLIDO_CLIENTE]
			  ,[NOMBRE_COMPLETO]
			  ,[NOMBRE_PLAN_ACT]
			  --,[NOMBRE_PLAN_ANT]
			  ,[TIPO_PLAN]
			  ,[TIPO_CONTRATO]
			  ,[RENTA_MENSUAL_ACT]
			  --,[RENTA_MENSUAL_ANT]
			  ,[CARGOS_AVI_ACT]
			  --,[CARGOS_AVI_ANT]
			  ,[TOTAL_REVENUE_VENTA]
			  ,[META]
			  ,[ALCANCE_META]
			  ,[UNIDAD_GLOBAL]
			  ,[UNIDAD_APLICA]
			  ,[APLICA]
			  ,[FACT_PAGADAS]
			  ,[TOTAL_APLICAN]
			  ,[TOTAL_UNIDADES]
			  ,[EFECTIVIDAD_VENTAS]
			  ,[FACTOR]
			  ,[COMISION]
			  ,[COMISION_SIN_IVA]
			  ,[TIPOTRANS_ID]
			  ,[CUENTA_SAP]
			  ,[CENTRO_COSTO_SAP]
			  ,[TIPOTRANS_DESC]
			  ,[NEGOCIO_ID]
			  ,[NEGOCIO_NOMBRE]
			  ,1 PRORRATEO
		  FROM [DM_COMISV_POSPAGO].[dbo].[PagoPospagoCambiosDePlanDEXCorpo] A
		  WHERE A.PERIODO_PAGO = @periodo_pago
			and A.ACREEDOR_ID = @acreedor_id
	END


/*
SELECT TOP 5 * from DM_COMISV_POSPAGO.dbo.PagoPospagoConsolidadoDEXCorpo




---SELECT PERIODO, ND, CO_ID, NOMBRE_PLAN FROM DM_COMISV_POSPAGO.dbo.PagoPospagoCloudDEXCorpo A WHERE A.ND = '50322235417'

SELECT * FROM DM_COMISV_POSPAGO.dbo.PagoPospagoCloudDEXCorpo A WHERE CO_ID IN (
'12174056',
'12174048',
'12174052',
'11962919',
'11962915',
'11962923',
'11997779'
)


DELETE A 
FROM DM_COMISV_POSPAGO.dbo.PagoPospagoCloudDEXCorpo A 
WHERE CO_ID IN (
'12174056',
'12174048',
'12174052',
'11962919',
'11962915',
'11962923',
'11997779'
)


SELECT * FROM DM_OPERACIONES_SV.dbo.PagoConsolidadoCorpoInt where nd = '50378240164' ORDER BY PERIODO

SELECT * FROM DM_OPERACIONES_SV.dbo.PagoConsolidadoCorpoInt where CO_ID = '1055122'

*/

/*
SELECT * FROM DimTipoTransaccion order by tipotrans_id



SELECT * FROM DM_COMISV_POSPAGO.dbo.PagoPospagoCloudDEXCorpo A	WHERE A.DISTRIBUIDOR LIKE '%2H%'


SELECT * FROM DimDealer WHERE DISTRIBUIDOR LIKE '%2H%'

SELECT * FROM PagoPospagoConsolidadoDEXCorpo where co_id = '13549660'

select * from PagoPospagoConsolidadoDEXCorpo where distribuidor like '%hablemos%' and tipotrans_desc like '%renova%' and periodo_pago = '201812'

SELECT * FROM DM_COMISV_POSPAGO.dbo.PagoPospagoCloudDEXCorpo WHERE PERIODO_PAGO = '201812' AND DISTRIBUIDOR LIKE '%2H%'*/
/*

SELECT * FROM DM_COMISV_POSPAGO.dbo.PagoPospagoConsolidadoDEXCorpo WHERE DISTRIBUIDOR = 'GRUPO 2H' AND PERIODO_PAGO = '201812' and NOMBRE_COMPLETO like '%IGLESIA%APOSTOLICA%'

SELECT distinct * FROM PagoPospagoRenovacionesDEXCorpo where CO_ID = '11952762'

SELECT * FROM PagoPospagoRenovacionesDEXCorpo where periodo_pago = '201901' and distribuidor like '%DTS%'

SELECT * FROM PagoPospagoVentasDEXCorpo where periodo_pago = '201901' and distribuidor like '%DTS%'


SELECT * FROM DM_COMISV_POSPAGO.dbo.PagoPospagoConsolidadoDEXCorpo WHERE PERIODO_PAGO = '201811' AND TIPOTRANS_DESC LIKE '%VOLUM%' and co_id = '13501250'


SELECT SUM(RENTA_MENSUAL+CARGOS_AVI) FROM DM_COMISV_POSPAGO.dbo.PagoPospagoConsolidadoDEXCorpo WHERE PERIODO_PAGO = '201811' and TIPOTRANS_DESC like '%acti%' and distribuidor like '%mobile%' --and co_id = '13501250'

SELECT * FROM DM_COMISV_POSPAGO.dbo.PagoPospagoConsolidadoDEXCorpo WHERE PERIODO_PAGO = '201812' and co_id = '13501250'

SELECT SUM(COMISION_SIN_IVA) FROM PagoPospagoConsolidadoDEXCorpo WHERE PERIODO_PAGO = '201811' AND DISTRIBUIDOR LIKE '%MOBILE%'*/

--SELECT * FROM DM_COMISV_POSPAGO.dbo.PagoPospagoConsolidadoDEXCorpo WHERE PERIODO_PAGO = '201901' AND META IS NULL


--SELECT CO_ID, COUNT(*) FROM PagoPospagoConsolidadoDEXCorpo WHERE PERIODO_PAGO = '201901' AND TIPOTRANS_ID = 20 GROUP BY CO_ID HAVING COUNT(*) > 1

--SELECT * FROM PagoPospagoConsolidadoDEXCorpo WHERE PERIODO_PAGO = '201901' AND TIPOTRANS_ID = 19 AND CO_ID IN ('1060417','1060670')

--SELECT DISTINCT TIPOTRANS_ID FROM PagoPospagoConsolidadoDEXCorpo WHERE PERIODO_PAGO = '201901' ORDER BY TIPOTRANS_ID


--SELECT * FROM DimDealer where dealer_code = 'DVCES.DC28-045839892'



